@media (max-width: 480px) {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999; }
    header h1 {
      font-size: 26px; }
    header nav {
      display: none; }
      header nav ul li {
        padding: 0px 10px; }

  main {
    margin-top: 62px; }

  #resp-menu {
    display: block !important; }

  .login-form {
    margin-bottom: 35px; }

  #skillTable {
    text-align: center; }
    #skillTable td {
      padding: 5px 2px; }
    #skillTable label {
      display: block; } }
